<div ng-controller="MasterCtrl" id="primary">
    <div class="blog-wrapper">
        <br>
        <div class="header-box">
            <img class="header-image" src="../images/profile_landscape.png" alt="Picture from Autumn 2014">
        </div>
        <div class="blog-subtitle">
            <h5>Here's hoping to be part of the future.</h5>
        </div>
        <div class="blog-body" style="text-align: left;">

            <p>Hello dear reader! In this hopefully concise piece of writing, I hope to impart you with an idea of who I am, and what it is I do. Let's get right into it. I was raised in the small mountain town of Weaverville CA until the age of 18, whereupon I left home to attend Sonoma State University in Rohnert Park, where I currently reside.</p>
            <p>I first began programming at age 12, by messing around with Applescript on my old home computer. I made small amusements for myself, like text-based games or talking timers. There was no single point where I decided that I wanted to program, I simply grew into it. As I became more interested in programming at a more serious level, I realized that I lacked any way to formally learn programming, and knew no mentors from whom I could seek help. I learned by trying, failing, and trying again (with a healthy dose of Stack Overflow.) Today, I focus on web development, and trying to think of ways that software can change and improve the way that people interact online. I'm interested in machine learning, as well as how psychology could be used to make the Internet a friendlier place without sacrificing open and honest discussions.</p>

            <p>I believe in a better future, in the idea that if we work hard we can make the world a better place, and that humanity has a chance to achieve things beyond the wildest dreams of any one individual. I want to be part of building that future.</p>

            <p>Working towards a brighter day,<br>
                Adrian Smith  
            </p>
        </div>
    </div>
    <br>
    <div class="blog-wrapper">
        <br>
        <div class="title">
            <h1>Get in touch.</h1>
        </div>
        <div class="blog-body">
            <ul class="contact-details" style="text-align: left;">
                <li><b>Email:</b> adriansmith@adrianrsmith.com</li>
                <li><b>Twitter:</b> @amoosii</li>
                <li><b>Skype:</b> adrian.r.smith93@gmail.com</li>
                <li><b>Bitmessage:</b> BM-2cVaA12sSsmyvuQ7NQG1B5UHL63RPEEwCs</li>
                <li><b>Telegram:</b> @VivaLaPanda</li>
                <br>
                <li><b>GPG Key:</b> https://pgp.mit.edu/pks/lookup?op=get&search=0x58213EA28247DD45</li>
            </ul>
        </div>
    </div>
</div>