<div ng-controller="MasterCtrl" id="primary">
    <div class="blog-wrapper">
        <div class="header-box">
            <img class="header-image" src="../BlogPosts/post_images/2014-01-15 11.03.31b.jpg" alt="$postsummary">
        </div>
        <div class="title">
            <h1>BDFV</h1>
        </div>
        <div class="blog-subtitle">
            <h5>August 19, 2015</h5>
        </div>
        <div class="blog-body">
            $post_content
        </div>
    </div>
</div>