<div ng-controller="MasterCtrl" id="primary">
    <div class="blog-wrapper">
         <div class="header-box">
            <img class="header-image" src="../images/yen_banner.png" alt="">
        </div>
        <div class="title">
            <h1>The Yen</h1>
        </div>
        <div class="blog-subtitle">
            <h5>An invite only social network</h5>
        </div>
        <div class="blog-body" style="text-align: left;">
            <p>See more information in the blog post, but you can check out the live demo <a href="http://104.236.162.97/yen/public_html/index.php">here</a></p>
        </div>
    </div>
</div>